<h1>Listing blueprint_users</h1>

<table>
  <thead>
    <tr>
      <th>Blueprint</th>
      <th>User</th>
      <th>Preferred decryptor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blueprint_users.each do |blueprint_user| %>
      <tr>
        <td><%= blueprint_user.blueprint_id %></td>
        <td><%= blueprint_user.user_id %></td>
        <td><%= blueprint_user.preferred_decryptor %></td>
        <td><%= link_to 'Show', blueprint_user %></td>
        <td><%= link_to 'Edit', edit_blueprint_user_path(blueprint_user) %></td>
        <td><%= link_to 'Destroy', blueprint_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blueprint user', new_blueprint_user_path %>
